<div>
    {{#if blogs.length}}
    {{#each blogs as |blog|}}
    <div class="mb-3">
        <p>
        <div class="mb-3">
            <label class="form-label">{{blog.user_id}}</label>
            <textarea class="form-control" rows="3" disabled readonly>{{blog.content}}</textarea>
        </div>
        </p>
    </div>
    {{/each}}
    {{/if}}
</div>