<div>
    sign up
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1" class="sign-in-form-name" id="sign-in-form-name">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="email" aria-label="email"
            aria-describedby="basic-addon1" class="sign-in-form-user" id="sign-in-form-user">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="password" aria-label="password"
            aria-describedby="basic-addon1" id="myInput" class="sign-in-form-pass">
    </div>
    <button type="button" class="btn btn-primary">Primary</button>

</div>